.footerList{
	background-color: #444444;
}

.footerP{
	background-color: #222222;
	text-align: center;
	line-height: 20px;
	padding-top: 30px;
	padding-bottom: 30px;	
}

.thumbnails{
	margin-bottom: 0;
}

.footerP p{
	color:#999999;
}

.footerList div{
	padding: 20px;
}

.footerList h3{
	color:#FFFFFF;
}

.footerList p{
	color: #999999;
}
