.contentDiv{
	background-color: #FFFFFF;
}

.mainContent{
	padding: 20px;
}

/*下面的样式用于修饰用户的评论*/

#questionAnswers ul{
	list-style: none;
}

#questionAnswers>ul>li{
	border-bottom: 1px #CCCCCC solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

#addCommentDiv{
	display: none;
}

#questionAnswers button{
	margin-right: 5px;
}

.replyCommnetDiv,.replysForComment{
	display: none;
}
